:root {
  --background: #122d42;
  --violet: #c792ea;
  --light-blue: #82aaff;
  --turquoise: #7fdbca;
  --orange: #ef8c6c;
  --light-orange: #ecc48d;
  --grey: #d6deeb;
  --dark-grey: #637777;
  --red: #d3423e;
}
